parameters:
    level: max
    parallel:
        maximumNumberOfProcesses: 1
    checkModelProperties: false
    noUnnecessaryCollectionCall: true
    noUnnecessaryCollectionCallOnly: []
    noUnnecessaryCollectionCallExcept: []
rules:
    - BaerSoftware\LaraBeacon\PHPStan\FillableForeignKeyModelRule
    - BaerSoftware\LaraBeacon\PHPStan\MassAssignmentModelInstanceRule
    - BaerSoftware\LaraBeacon\PHPStan\MassAssignmentModelStaticRule
    - BaerSoftware\LaraBeacon\PHPStan\MassAssignmentBuilderInstanceRule

services:
    -
        class: BaerSoftware\LaraBeacon\PHPStan\RequestMethodReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
